/* Styles used in Modalpopup.jsx */

/* input[type="text"] {
  border: 1px solid #000 !important;
  padding: 6px 5px 7px !important;
}
input[type="text"]::before {
  border: 0;
} */

.option-checkbox img {
  width: 35px;
  margin-left: 6px;
  float: right;
  height: 27px;
  object-fit: cover;
}

.parent-of-child-class>div {
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 25px;
}

/* .MuiTypography-subtitle1-125 {
  border: 1px solid rgba(0,0,0,0.05);
}
.MuiTypography-subtitle1-125 .field{
  padding:0;
} */
/* .parent-of-child-title{
  padding: 10px;
}
.parent-of-child-class{
  width:100%;
  margin:0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
} */
.AgMissionResponse-paper-8 {
  border-radius: 16px;
}

/* 05/09/2022 */
.choiceClass .mainList input,
.option-checkbox input {
  margin-right: 10px;
  margin-top: 2px;
}

.option-checkbox input[type="checkbox"] {
  margin-top: 0px;
}

.choiceClass .mainList label {
  margin-bottom: 0px;
}

.choiceClass .option-checkbox img {
  width: 32px;
  height: 31px;
  top: 10px;
}

.coloredInput .choiceClass input[type="checkbox"]:after {
  top: 1px;
}