/* Styles used in WebLink component. */

.scaleTable tr td>div {
  padding-top: unset !important;
}

.App div::-webkit-scrollbar {
  /*display: none;*/
}

.scaleTable tr td {
  width: 100px;
  text-align: center;
  padding: 0;
  min-width: 100px;
}

.scaleTable tr td>div {
  margin: 0 auto;
}

/* .scaleTable tr td > div img {
  width: 30px;
  height: 30px;
}  */
.image-style img {
  object-fit: contain;
  width: 30px !important;
  height: 30px !important;
  margin: 0px auto;
  padding-top: unset;
  left: calc(50% - 10px) !important;
}

.image-style>div {
  padding-top: unset !important;
}

.button-style {
  background-color: #3f51b5;
  color: white;
}

.content {
  position: absolute;
  left: 50%;
  top: 40%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

.login-page {
  width: 100%;
  height: 100%;
}

.videoOver {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 122.5%;
  background-color: rgba(5, 28, 58, 0.6);
}

.login-button {
  border-radius: 10 !important;
  border: 1px solid #fff !important;
}

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* default text borders */
.MuiInput-underline-140:before {
  display: none;
}

/* Scrollbar for scrollvisible */

.scrollVisible::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollVisible::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollVisible::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.scaleTableClass,
.scaleClass {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
}

.uploadClass {
  text-align: center;
}

.uploadClass .new-img-prev-up {
  min-width: 300px;
  display: inline-block;
}

.uploadClass .new-div-parts {
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 !important;
  margin: 8px 0px 0;
}

.choiceClass {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  justify-content: center;
  max-height: 60vh;
}

.infoClass,
.inputClass {
  text-align: center;
}

.inputClass {
  display: block;
}

.infoClass {
  max-height: 70vh;
  overflow-y: auto;
  padding: 0 12px;
}

.infoClass div:first-child {
  display: inline-block;
}

div.infoClass>div,
div.infoClass p {
  overflow-wrap: break-word;
  max-width: 100%;
}

.gpsClass {
  min-height: 60vh;
}

.mapClass h4 {
  font-size: 14px;
}

.mapAddressClass h4 {
  background: #000;
  color: #fff;
  font-size: 12px;
  min-height: 42px;
  padding: 15%;
}

.scaleTableClass tbody tr td {
  border: 3px solid #fff;
  /* background: #fafafa; */
}

.pointer-eventsNone {
  pointer-events: none;
}

.scaleTableClass tbody tr:first-child td {
  border: none;
  background: transparent;
}

.coloredInput input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  bottom: 4px;
  right: 3px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(238, 229, 229);
}

.coloredInput input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: rgb(245, 247, 248);
  height: 18px;
  width: 18px;
  border: 1px solid rgb(100, 99, 99);
}

.coloredInput input[type="checkbox"]:checked {
  background: #ffa500;
}

.coloredInput input[type="checkbox"]:after {
  content: "";
  position: relative;
  left: 30%;
  top: 15%;
  width: 35%;
  height: 60%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.coloredInput input[type="checkbox"]:checked:after {
  display: block;
}

.agreeColorInput input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: rgb(245, 247, 248);
  height: 18px;
  width: 18px;
  border: 1px solid rgb(100, 99, 99);
  vertical-align: middle;
}

.agreeColorInput input[type="checkbox"]:checked {
  background: #303f9f;
}

.agreeColorInput input[type="checkbox"]:after {
  content: "";
  position: relative;
  left: 30%;
  top: 15%;
  width: 35%;
  height: 60%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.agreeColorInput input[type="checkbox"]:checked:after {
  display: block;
}

.DropZone {
  border: 3px dashed #888;
  border-radius: 4px;
  color: #aaa;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
}

.DropZone:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.DropZone--over-document {
  border: 3px dashed #599eff;
}

.DropZone--over {
  border: 3px solid #259925;
}

.new-div-info {
  overflow-x: auto;
  overflow-y: hidden;
}

.coloredInput {
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mandetory-title {
  display: flex;
  justify-content: center;
}

.maxDiffCss {
  min-width: inherit;
  width: 85%;
  margin: 0 auto;
  display: block;
  overflow: inherit;
  padding: 0 1px;
  /* max-height: 60vh; */
}

.max-diff-table-header {
  width: 20%;
}

.max-diff-table-header:nth-child(2) {
  width: 60%;
}

.maxDiffCss td {
  padding: 4px 4px;
  text-align: center;
  border: 1px solid #e8e8e8 !important;
}

.maxDiffCss td:last-child {
  padding-right: 4px !important;
}

.slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.maxDiffCss .slick-slider table {
  display: table !important;
  margin-bottom: 20px;
}

.slider-arrow h6 {
  margin: 0px;
  padding: 0 10px;
  font-size: 18px;
}

.arrow-btn svg {
  font-size: 40px;
}

.slick-slider .slick-arrow {
  width: 30px;
  height: 30px;
}

.slick-slider .slick-arrow::before {
  display: none;
}

.slick-slider .slick-arrow.slick-next {
  background: url(../src/assets/img/arrow-right.svg) no-repeat;
  background-size: cover;
  /*right: -40px;*/
}

.slick-slider .slick-arrow.slick-prev {
  background: url(../src/assets/img/arrow-left.svg) no-repeat;
  background-size: cover;
  /*left: -40px;*/
}

.maxDiffCss .slick-list {
  max-height: 60vh;
  overflow: hidden;
  overflow-y: auto;
}

.sliderArrow .slick-next {
  opacity: 0.2;
  /* pointer-events: none; */
}

.sliderArrow .slick-prev {
  opacity: 0.2;
  /* pointer-events: none; */
}

@media only screen and (max-width: 799px) {
  .scaleTable tr {
    display: flex !important;
  }

  .scaleTable tr td {
    padding: 6px;
    display: inline-block;
  }

  .scaleTable tr td:first-child {
    min-width: 56px;
  }

  .scaleTable tr td>div {
    padding-top: 0 !important;
  }

  .scaleTable tr td>div img {
    width: 20px;
    height: 20px;
  }

  li div img {
    object-fit: contain;
  }

  .App div div:nth-child(2) {
    justify-content: unset !important;
  }

  .App>div {
    overflow: auto;
  }

  .head-style h4 {
    font-size: 12px;
  }

  .head-style h6 {
    font-size: 12px;
  }

  .login-style {
    width: "20%";
    margin: 0 auto;
  }

  .mapClass {
    height: 70vh !important;
    width: 70% !important;
  }

  .gpsClass {
    min-height: 70vh;
  }

  .choiceClass {
    min-height: 45vh;
  }

  .uploadClass {
    min-height: 45vh;
  }

  .uploadClass .new-div-parts {
    max-height: 40vh;
    margin-left: 8px;
    margin-right: 8px;
  }

  .inputClass div:first-child {
    width: 300px !important;
  }

  .mapClass h4 {
    font-size: 14px;
  }

  .new-div-info {
    overflow-x: auto;
    overflow-y: hidden;
  }
}